$default-font: "Verdana", sans-serif;
$text: #000000;
$text-gray: #DFDFDF;
$bg-color: #F6F2E9;
$white: #FFFFFF;
$blue: #1A75C5;
$red: #E62E3B;
$green: #0AAC47;
$border: #C4C4C4;
$dark-gray: #797979;

$font-weight: 400;
$font-weight--700: 700;
